.container{
	justify-content: space-between;
}
.sidebar{
	width: 250px;
}
.title{
	padding-bottom:15px;
	margin-bottom:10px;
	display: flex;
	justify-content: center;
}
.menu{
	list-style:none;
	padding-inline-start:10px;
	line-height: 40px;
	font-size:16px;
}
.menuli{
	border-bottom: 1px solid lightgray;
}
.endli{
	border-bottom:1px solid gray;
}
.title img{
	width:150px; 
	height:100px;	
}
#pen{
	width:26px;
	height:26px;
	margin-left:10%;
}
.userNick{
	display:flex;
	justify-content:center;
	font-size: 18px;
	margin-bottom: 5%;
}
.userGP{
	display:flex;
	justify-content: space-between;
	font-size: 15px;
	margin-bottom: 5%;
	height:40px;
	border-bottom: 2px solid lightgray;
}